.section__header {
    font-size: 24px;
    color: hsl(24, 94%, 25%);
}

.section__content {
    padding: 20px 0 20px 0;
}

.section__image {
    width: 1000px;
    border-radius: 50% 10px/50%;
    margin: 30px;
    outline-color: #a73d08;
    box-shadow: 45px 0px 54px -11px #685246;

}

.section__card {
    width: 1000px;
    border-radius: 30px;
    margin: 30px 0px 30px 0px;
    box-shadow: 45px 0px 54px -11px #685246;
}

.display {
    display: none;
}

.section__element {
    color: #a73d08;
}

.section__button {
    border-radius: 20px;
    color: white;
    background-color: #9e684c;
    font-size: 18px;
    border-width: 1px;
    padding: 5px 20px;
    box-shadow: 60px 10px 48px -15px #5E574B;
    outline: none;
    cursor: pointer;
}

.section__button:hover {
    background-color: #a73d08;
    outline: none;
}