.table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 45px 0px 54px -11px #685246;
}

.table__cell {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;

}

.table__caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 25px;
}

.table__header {
    background-color: #D7B08F;
    font-weight: normal;
}

.table__row:nth-child(even) {
    background: #fbf0e2;
}

.table__row:hover {
    background: #D7B08F;
}